# Zip files or Tarballs
*.tar
*.tar.gz
*.zip

# Graphic files
*.eps
*.jpg
*.ps
Movie/*
For_Paul/*

# Private Telecon Discussions
Telecons/*

# Simulation Output Folder and Data
run*/*
*_eta/*
hall/*

# Spreadsheets
*.numbers
*.xls
*.xlsx

# Backup Files
*~

